<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Curso-QA-Automation/seleniumwebdriver/src/test/java/day42/OrangeHRMTest.java">
        <classes>
            <class name="day42.OrangeHRMTest">
                <methods><include name="openapp"/>
                    <include name="testlogo"/>
                    <include name="testlogin"/>
                    <include name="testclose"/>
                </methods>
            </class>
            <class name="day42.FirstTestCase"> </class>
        </classes>
    </test>
</suite>