<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="day46.MyListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="E:/Curso-QA-Automation/seleniumwebdriver/src/test/java/day46/OrangeHRM.java">
        <classes>
            <class name="day46.OrangeHRM"/>
        </classes>
    </test>
</suite>